<div class="content">
  <div class="row">
    <div class="header col-xs-12">
      <h1>About us</h1>
    </div><!-- end header -->
  </div>

  <div class="container">
    <div class="row">
      <div class="info col-lg-6 col-xs-12">
        <p>We are a boutique upscale bicycle store that offers only the greatest products and services. Whether your in town or 3000 miles away we promise to offer you the most exceptional experiencing researching, purchasing and using your new bicycle. </p>
      </div><!-- end info -->
      <div>
        <%= image_tag("bike2.jpg", class: "about img-responsive") %>
      </div><!-- end column -->
    </div><!-- end row -->
  </div><!-- end container -->
</div><!-- end content -->
