<div class="content">
  <div class="row">
    <div class="header col-xs-12">
      <h1>About us</h1>
    </div><!-- end header -->
  </div>

  <div class="container">
    <div class="row">
      <div class="info col-lg-6 col-xs-12">
        <p>We started out as a small online business and have been growing rapidly, due to our fine attention to detail and excellent shopping experience, from start to finish. We take pride in offering only the best quality, and we've done all of the researching for you. We encourage you to shop with ease, knowing that whatever you purchase comes bbbbacked by our guarantee</p>
      </div><!-- end info -->
    </div>
    <div class="row">
      <div>
        <%= image_tag("couch3.jpg", class: "about img-responsive") %>
      </div><!-- end column -->
    </div>
  </div><!-- end container -->
</div><!-- end content -->
