<div class= "content">
  <div class= "header">
  <h1>About us</h1>
  </div><!-- end header -->
  <main class= "body">
    <section class="about_img">
      <%= image_tag("bike2.jpg", class:"about") %>
    </section>
    <section class="about_text">
      <div class= "info">
        <p>We are a boutique upscale bicycle store that offers only the greatest products and services. Whether your in town or 3000 miles away we promise to offer you the most exceptional experiencing researching, purchasing and using your new bicycle. </p>
      </div><!-- end info -->
    </section>
  </main><!-- end body -->
</div><!-- end content -->
