<div class= "content">
  <div class= "header">
  <h1>Contact Info</h1>
  </div><!-- end header -->
  <div class= "body">
    <div class= "info">
      <ul>
        <li>phone number</li>
        <li>email</li>
        <li>text - get a respone in 30 mins or less</li>
      </ul>
    </div><!-- end info -->
  </div><!-- end body -->
</div><!-- end content -->
