<div class= "content">
  <div class= "header">
  <h1>Contact Info</h1>
  </div><!-- end header -->
  <div>
    <div class= "contact_me">
      <ul class="contact_list">
        <li>646-483-0978</li>
        <li>Furnitureexperience@gmail.com</li>
        <li>Text - get a response in 24 hours or less!</li>
        <li>Instgram</li>
        <li>Facebook</li>
      </ul>
    </div><!-- end info -->
  </div><!-- end body -->
</div><!-- end content -->
