<h1>Welcome to Bike Berlin</h1>
<h2>Your source for used bikes in Berlin</h2>
<div class="row">
  <%= image_tag("bike.jpg", class: "img1 img-responsive col-xs-12") %>
  <%= image_tag("bike4.jpg", class: "img2 img-responsive col-xs-12") %>
  <%= image_tag("bike3.jpg", class: "img3 img-responsive col-xs-12") %>
</div>

<!-- <h1 class= "column lowertext">We also do bike repair, modifications and race training</h1>
<h2 class= "column lowertext">We provide only the most exceptional purchasing experience for our clients</h2>
-->
