<h1>Welcome to Furniture Experience</h1>
<h2>Your go to website for the best accessories to your home</h2>
<div class="row">
  <div class="col-xs-12">
    <%= image_tag("bike.jpg", class: "img1 img-responsive") %>
  </div>
  <div class="col-xs-12">
    <%= image_tag("bike4.jpg", class: "img2 img-responsive") %>
  </div>
  <div class="col-xs-12">
    <%= image_tag("bike3.jpg", class: "img3 img-responsive") %>
  </div>
</div>

<!-- <h1 class= "column lowertext">We also do bike repair, modifications and race training</h1>
<h2 class= "column lowertext">We provide only the most exceptional purchasing experience for our clients</h2>
-->
