<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <td bgcolor="#70bbd9">You have received a new contact form message from <%= @name %>. The contents of the message are:</p></td>
        </tr>
        <tr>
          <td><p><%= @message %></p></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
