// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#products {
  text-align: center;
}

table {
  font-size: 1.3em;
}

.new_product {
  font-size: 1.3em;
}

#prod_img {
  display: inline-block;
  margin-left: 40px;
  height: 225px;
  width: 25%;
  margin-top: 50px;
  @media(max-width: 768px){
    position: relative;
    height: 225px;
    width: auto;
    left: 0;
  }
}

#img_size {
  height: 225px;

}

h3 {
  font-size: 1.4em;
  text-decoration: underline;
  padding-bottom: 15px;
}

h4 {
  padding-bottom: 5px;
}

#products {
  margin-top: 75px;
}
