// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#products {
  text-align: center;
}

.search_text {
  font-family: "Open Sans";
}

table {
  font-size: 1.3em;
}

.new_product {
  font-size: 1.3em;
}

#prod_img {
  display: inline-block;
  margin-left: 40px;
  height: 225px;
  width: 25%;
  margin-bottom: 150px;
  @media(max-width: 768px){
    position: relative;
    height: 225px;
    width: auto;
    left: 0;
    margin-bottom:250px;
  }
}

#img_size {
  height: 225px;
}

h3 {
  padding-bottom: 15px;
}

h4 {
  padding-bottom: 5px;
}

#products {
  margin-top: 75px;
}

// Search bar styling

.text {
  color: black;
}

.border {
  width: 35%;
  @media(max-width: 768px){
    position: relative;
    width: 90%;
  }

}

.form_label {
  border-radius: 20px;
  height: 50px;
  width: 13%;
  margin-top: 25px;
  @media(max-width: 768px){
    height: 50px;
    width: 93%;
  }
}

// Contact form styling

.contact_form {
  padding-left: 20px;
}

// products show page

.show {
  text-align: center;
}

.show_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  @media(max-width: 768px){
    width: 100%;
    padding-right: 40px;
  }
}

.ratings {
  display: block;
}

#new_comment {
  margin-bottom: 100px;
}

.product_reviews {
  margin-left: auto;
}

.comment_make {
margin-left: auto;
margin-bottom: 35px;
}

.text-dec {
  text-decoration: none;
}
