// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#products {
  text-align: center;
}

table {
  font-size: 1.3em;
}

.new_product {
  font-size: 1.3em;
  text-decoration: none;
}
