// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #808a9f;
}

h1 {
  font-family: Courier;
  color: #808a9f;
  margin-left: 50px;
  word-spacing: 1.2;
  letter-spacing: 2px;
  font-weight: bold;
  font-style: italic;
  ;
}

h2 {
  margin-left: 75px;
  word-spacing: 1.2;
  letter-spacing: 2px;
  font-style: italic;
}

p {
  font-family: Helvetica;
  font-size: 1.2em;
}

// header

.topbar li {
  display: inline-block;
  text-decoration: none;

}

nav {
  background-color: #dac9b2;
  color: white;
}

.item {
  color: white;
  text-decoration: none;
}

ul {
  font-family: Courier;
}

// Footer

footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 30px;
    background-color: #3d4656;
    color: white;
  }

// index page

// index-images

.img1 {
  height: 250px;
  width: 22%;
  margin-left: 1300px;
}

.img2 {
  height: 250px;
  width: 22%;
  margin-left: 75px;
  margin-top: 200px;
  display: inline-block;
}

.img3{
  height: 250px;
  width: 22%;
  margin-left: 200px;
}

.lowertext {
  margin-left: 750px;
  float: right;
}

// About page

.info {
  height: 250px;
  width: 22%;
  margin-left: 700px;
}

p {
  font-style: italic;
  font-weight: 600;
}

// About page images

.about {
  float: left;
  margin-top: 150px;
  margin-right: 250px;
}
