// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: Courier;
  color: #808a9f;
  margin-left: 50px;
  word-spacing: 1.2;
  letter-spacing: 2px;
  font-weight: bold;
  font-style: italic;
  @media(max-width: 768px){
    position: relative;
    text-align: center;
  }
}

h2 {
  margin-left: 75px;
  word-spacing: 1.2;
  letter-spacing: 2px;
  font-style: italic;
}

p {
  font-family: Helvetica;
  font-size: 1.2em;
  @media(max-width: 768px){
    position: relative;
    right: 700px;
  }
}

// header

#navbar {
  background-color: #dac9b2;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

ul {
  font-family: Courier;
}

// Footer

footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 30px;
    background-color: #3d4656;
    color: white;
    @media(max-width: 768px){
      position: relative;
      width: 100%;
      height: 30px;
      background-color: #3d4656;
      color: white;
    }
  }

// index page

// index-images



.img1 {
  position: absolute;
  border: 3px solid #808a9f;
  height: 250px;
  width: 22%;
  margin-left: 1300px;
  @media(max-width: 768px){
    position: relative;
    height: 800px;
    width:100%;
    right: 1300px;
  }
}

.img2 {
  position: absolute;
  height: 250px;
  width: 22%;
  left: 75px;
  top: 400px;
  border: 3px solid #808a9f;
  @media(max-width: 768px){
    position: relative;
    height: 800px;
    width:100%;
    top: auto;
    left: 0;
  }
}

.img3{
  position: absolute;
  height: 250px;
  width: 22%;
  left: 700px;
  top: 200px;
  border: 3px solid #808a9f;
  @media(max-width: 768px){
    position: relative;
    height: 800px;
    width:100%;
    top: auto;
    left: 0;
  }
}

.lowertext {
  margin-left: 750px;
  float: right;
}

// About page

.info {
  height: 250px;
  width: 22%;
  margin-left: 700px;
}

p {
  font-style: italic;
  font-weight: 600;
}

// About page images

.about {
  float: left;
  margin-top: 100px;
  margin-right: 250px;
  width: 50%;
  @media(max-width: 768px){
    position: relative;
    height: 800px;
    width:100%;
    left: 0;
  }
}
