<% if current_user && current_user.admin? %>
  <div class="container-fluid">
    <h1>Editing Product</h1>

    <%= render 'form', product: @product %>

    <div class="btn btn-default">
      <%= link_to 'Show', @product %>
    </div> |
    <div class="btn btn-default">
      <%= link_to 'Back', products_path %>
    </div>
  </div>
<% end %>
